<h1>User Login</h1>
<form action="/login" method="POST"></form>
<div>
    <label>UserName</label>
    <input type="text" name="name" value="<%= user.name %>">
</div>
<div>
    <label>Password</label>
    <input type="password" name="password" value="<%= user.password %>">
    </div>
    <button type="submit">Login</button>
</form>