<h1>User Login</h1>
<form action="/users" method="POST">
<div>
    <label>UserName</label>
    <input type="text" name="name" value="">
</div>
<div>
    <label>Password</label>
    <input type="password" name="password" value="">
    </div>
    <button type="submit">Login</button>
</form>